body {
    text-align: center;
    font-family: 'Roboto';
    margin:0px auto;
    width:80%;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 150px;
}

h1 {
    font-size:3em;
    margin:0px;
    padding:0px;
    align-items: center;
    text-align: left;
}

/*
button {
    background-color: black;
    color: white;
    border: none;
    text-align: left;

}
*/

section {
    padding-top: 40px;
    border-top: 1px solid black;
}

nav li {
    list-style-type: none;
    text-align: right;
    padding:6px;
    margin: 3px;
    background-color: black;
    text-align:center;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}

main {
    margin-top: 50px;
}

#about {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}

#aboutText {
    text-align: left;
    font-size: 1.2em;
    width:500px;
}

.container {
    height:300px;
    width:300px;
    border: 3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}
.container h3 {
    margin-top: 140px;
}

.container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#titleContainer h2 {
    text-align:center;
    margin: 0px auto;
    width:1050px;
}

#projects {
    width:100%;
    height:500px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
}

@media only screen and (max-width: 1525px) {
    #projects {
        height:900px;
    }
}

@media only screen and (max-width: 1015px) {
    #projects {
        height:1300px;
    }
}

#contact {
    display:flex;
    justify-content: center;
    align-items: center;
}
 h2 {
     margin-top: 50px;
 }

 .contactcontainer {
     width:100%;
     height: 400px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .contactcontainer ul {
     padding-left: 0px;
 }

 .contactcontainer h1 {
    text-align: center;
}


 .contactcontainer li {
     list-style-type: none;
     padding: 20px;
     background-color: white;
     margin:20px;
     font-weight: bolder;
     border: 2px solid black;
     border-radius: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .contactcontainer a:link {
    color: white;
    text-decoration: none;
 }

 .skillIcons img {
     height:100px;
 }